/*
* @Author: wsj11
* @Date:   2016-02-23 22:57:17
* @Last Modified by:   wsj11
* @Last Modified time: 2016-02-23 23:03:35
*/
#guidepage1{
  background:url("../../img/guidepage/guidepage2.jpg") no-repeat;
  background-size: 100% 100%;
}
#guidepage2{
  background:url("../../img/guidepage/guidepage1.jpg") no-repeat;
  background-size: 100% 100%;
}
